body{
    background-image: url("https://i.ytimg.com/vi/-MKapbz0GIo/maxresdefault.jpg");
    background-size: cover;
    
}

a{
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

h1{
    color: #1d3557;
    text-align: center;
    font-weight: bold;
    text-decoration: #000000 underline;
    background-color: #a8dadc;
}

h3{
    color:  #1d3557;
    text-align: center;
    font-weight: normal;
}

li{
    color: #1d3557;
}

p{
   text-align: center;
   line-height: 2;
   background-color: aquamarine;
}

div{
    text-align: center;
   background-color: #a8dadc;
}
