body{
    background-image: url("https://i.ytimg.com/vi/-MKapbz0GIo/maxresdefault.jpg");
    background-size: cover;
}

nav {
    text-align: center;
}

a{
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

button:hover {
    background-color: aquamarine;
}

h1, h2, h3{
    color: #1d3557;
    text-align: center;
    font-weight: bold;
    text-decoration: #000000 underline;
    background-color: #a8dadc;
}

h6{
    text-align: end;
}

.about{
    color: #1d3557;
    text-align: center;
    background-color: #a8dadc;
    line-height: 2;
}

.services{
    display: flex;
    justify-content: center;
    align-items: center;
}

#server{
    text-align: center;
    background-color: #a8dadc;
}

#web{
    text-align: center;
    background-color: #a8dadc;
}

#app{
    text-align: center;
    background-color: #a8dadc;
}

#home{
    text-align: center;
    background-color: #a8dadc;
}

footer{
    background-color: #457b9d;
    text-align: end;
    line-height: 1;
}